#example2 {
    position: relative;
    // height: 100dvh;
    // border: 5px solid red;
    width: 1440px;
    height: 1000px;
}
[class^="dialogue-change2"] {
    opacity: 0;
  }

// 導入事例2 string
.string-exp2 {
    position: absolute;
    top: 77%;
    left: 0;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.display-exp2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: start;
    padding-top: 14.5%;
    position: relative;
    top: 5%;

    
    img {
        width: 40%;
        background-color: transparent;
    }
    .exp-2-pic {
        width: 40%;

    }
}

.dialogue-1-exp2 {
    position: absolute;
    width: 14%;
    right: 22%;
    top: 34%;
}

.dialogue-2-exp2 {
    position: absolute;
    width: 14%;
    right: 8%;
    top: 52%;
}

.exp-2-more {
    position: absolute;
    width: 7.5%;
    top: 70%;
    left: 34%;
    z-index: 1;
}
.exp-2-more {
    transition: transform 0.3s;
  }
  
  .exp-2-more:hover {
    transform: scale(1.2);
  }

.text-area2 {
    display: flex;
    flex-direction: column;
    justify-content: left;
    .exp-2-text {
        width: 50%;
        position: relative;
        top: 0px;
        left: -3px;
    }
    h2 {
        top: 38%;
        left: auto;
        letter-spacing: 2px;
        line-height: 35px;
    }
    p {
        position: relative;
        top: 150px;
        left: 0%;
        font-weight: lighter;
        // letter-spacing: 1.1px;
        line-height: 25px;
        color: #605F5E;
        .exp-colorchange {
        // color: #E06853;
        color: #FF4448;
        }
    }
    .p-p-2 {
        padding-top: 20px;
    }
    .p-p-3 {
        padding-top: 20px;
    }

}

.string-exp2-cover {
    // background-color: red;
    background-color: #f7f2ec;
    position: absolute;
    width: 100%;
    height: 15.5%;
    z-index: 1;
    top: 83%;
    right: 0%;
    transform-origin: left center;
}