#features {
    background-color: #3f4066;
    position: relative;
    // height: 100dvh;
    height: 1800px;
    width: 1440px;
    
    // border: 5px solid green;
}

img {
    background-color: transparent;
}

.remain-up-f {
    width: 100%;
    height: 10%;
    background-color: var(#f7f2ec);
}

.curveup {
    position: relative;
    top: -10%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    background-color: transparent;
}

.title-f {
    top: 5%;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 41.3%;
    background-color: transparent;
}

.title-h2-fe {
    top: -27.3%;
    left: 40.5%;
    position: relative;
    color: #F7F2EC;
    width: 50%;
}

.coontainer-1-f {
    position: absolute;
    top: 360px;
    left: 14px;
    z-index: 2;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: start;
    background-color: transparent;
}

.coontainer-2-f {
    position: absolute;
    top: 980px;
    left: 64px;
    z-index: 2;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: start;
    background-color: transparent;
}
.item-f {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 30%;
    background-color: transparent;
}

.title-1-f, .title-2-f, .title-3-f, .title-4-f {
    width: 120%;
}

.click-1-f, .click-2-f, .click-3-f, .click-4-f {
    width: 120%;
    cursor: pointer;
}
.click-1-f, .click-2-f, .click-3-f, .click-4-f {
  transition: transform 0.3s;
}

.click-1-f:hover, .click-2-f:hover, .click-3-f:hover, .click-4-f:hover {
  transform: scale(1.1);
}

.click-2-f, .click-3-f {
    width: 135%;
}

.click-4-f {
    width: 98%;
}

.click-3-f {
    width: 120%;
}

.curvedown {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 1;
    background-color: transparent;
}

.remain-down-f {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10%;
    // border: 5px solid red;
}

//---------------------------------


/* April盒子內 開始 */
#dialog_c {
    display: none;
  }
  
  #dialog_c.active {
    display: block;
    position: fixed;
    inset: 0;
    margin: 13px;
    /* width: 69%; */
    height: 65vh;
    z-index: 9999;
    background-color: transparent;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; /* 修正這裡，使用 100% 寬度 */
    height: 100%; /* 修正這裡，使用 100% 高度 */
    background-color: rgba(247, 242, 236, 0.95);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    z-index: 1000;
    transition: all 0.5s;
    overflow: hidden;
  }
  
  .hidden {
    display: none;
    visibility: hidden;
    opacity: 0;
  }
  
  .close {
    display: block;
    margin: 15px auto;
    text-align: center; /* 修正這裡，將關閉按鈕居中 */
  }
  
  .dialogtitle {
    text-align: center;
  }
  
  .close {
    background-color: transparent;
    position: absolute;
    top: 121%;
    left: 48%;
    padding: 5px 15px;
    cursor: pointer; /* 添加這行，使游標顯示為手型 */
  }
  
  /* April盒子內 結束 */
  
  .dialog_c-img,
  #nextPageImage,
  #thirdPageImage {
    pointer-events: none;
    position: relative;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    margin-top: 10px; /* 修正這裡，添加上邊距 */
  }

.prevPageBtn, 
.nextPageBtn {
    position: absolute;
    top: 127%;
}

.prevPageBtn {
    position: absolute;
    right: 5%;
}

.nextPageBtn {
    position: absolute;
    left: 5%;
}

// ---------------- may ----------------

/* May盒子內 開始 */
#dialog_d {
    display: none;
    transition: all 0.5s;
  }
  
  #dialog_d.active {
    display: block;
    position: fixed;
    inset: 0;
    margin: 13px;
    /* width: 69%; */
    height: 65vh;
    z-index: 9999;
    background-color: transparent;
    transition: all 0.5s;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; /* 修正這裡，使用 100% 寬度 */
    height: 100%; /* 修正這裡，使用 100% 高度 */
    background-color: rgba(247, 242, 236, 0.95);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    z-index: 1000;
    transition: all 0.5s;
    overflow: hidden;
  }
  
  .hidden {
    display: none;
    visibility: hidden;
    opacity: 0;
  }
  
  .close2 {
    display: block;
    margin: 15px auto;
    text-align: center; /* 修正這裡，將關閉按鈕居中 */
  }
  
  .dialogtitle {
    text-align: center;
  }
  
  .close2 {
    color: #605F5E;
    background-color: transparent;
    position: absolute;
    top: 121%;
    left: 48%;
    padding: 5px 15px;
    cursor: pointer; /* 添加這行，使游標顯示為手型 */
  }
  
  /* May盒子內 結束 */
  
  .dialog_d-img,
  #nextPageImage2,
  #thirdPageImage2 {
    pointer-events: none;
    position: relative;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    margin-top: 10px; /* 修正這裡，添加上邊距 */
  }

.prevPageBtn2, 
.nextPageBtn2 {
    position: absolute;
    top: 127%;
}

.prevPageBtn2 {
    position: absolute;
    right: 5%;
}

.nextPageBtn2 {
    position: absolute;
    left: 5%;
}

// ---------------- June ----------------

/* June盒子內 開始 */
#dialog_e {
    display: none;
  }
  
  #dialog_e.active {
    display: block;
    position: fixed;
    inset: 0;
    margin: 13px;
    /* width: 69%; */
    height: 65vh;
    z-index: 9999;
    background-color: transparent;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; /* 修正這裡，使用 100% 寬度 */
    height: 100%; /* 修正這裡，使用 100% 高度 */
    background-color: rgba(247, 242, 236, 0.95);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    z-index: 1000;
    transition: all 0.5s;
    overflow: hidden;
  }
  
  .hidden {
    display: none;
    visibility: hidden;
    opacity: 0;
  }
  
  .close3 {
    display: block;
    margin: 15px auto;
    text-align: center; /* 修正這裡，將關閉按鈕居中 */
  }
  
  .dialogtitle {
    text-align: center;
  }
  
  .close3 {
    color: #605F5E;
    background-color: transparent;
    position: absolute;
    top: 121%;
    left: 48%;
    padding: 5px 15px;
    cursor: pointer; /* 添加這行，使游標顯示為手型 */
  }
  
  /* June盒子內 結束 */
  
  .dialog_e-img {
    pointer-events: none;
    position: relative;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    margin-top: 10px; /* 修正這裡，添加上邊距 */
  }




// ---------------- July ----------------

/* July盒子內 開始 */
#dialog_f {
    display: none;
  }
  
  #dialog_f.active {
    display: block;
    position: fixed;
    // overflow: hidden;
    inset: 0;
    margin: 13px;
    /* width: 69%; */
    height: 65vh;
    z-index: 9999;
    background-color: transparent;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; /* 修正這裡，使用 100% 寬度 */
    height: 100%; /* 修正這裡，使用 100% 高度 */
    background-color: rgba(247, 242, 236, 0.95);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    z-index: 1000;
    transition: all 0.5s;
    overflow: hidden;
  }
  
  .hidden {
    display: none;
    visibility: hidden;
    opacity: 0;
  }
  
  .close4 {
    display: block;
    margin: 15px auto;
    text-align: center; /* 修正這裡，將關閉按鈕居中 */
  }
  
  .dialogtitle {
    text-align: center;
  }
  
  .close4 {
    color: #605F5E;
    background-color: transparent;
    position: absolute;
    top: 121%;
    left: 48%;
    padding: 5px 15px;
    cursor: pointer; /* 添加這行，使游標顯示為手型 */
  }
  
  /* July盒子內 結束 */
  
  .dialog_f-img {
    pointer-events: none;
    position: relative;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    margin-top: 10px; /* 修正這裡，添加上邊距 */
  }


// PC version

.title-phone-fe, .title-phone-string-fe {
  display: none !important;
}

.title-f {
  display: block !important;
}

.feature-bg-phone {
  display: none !important;
}

[class$="-smartphone"] {
  display: none !important;
}