
/* パソコンで見たときは"pc"のclassがついた画像が表示される */
// @media screen and (min-width: 1440px) {


//     .pc { display: block !important; }
//     .sp { display: none !important; }

// #hbg-btn{
//     display: none !important;}  

// #pc-list {
//     position: absolute;
//     z-index: 99;
//     font-size: 16px;
//     color: white;
//     // color: #EAA294;
//     background-color: transparent;
//     // text-shadow:0px 2px 1px rgba(145,145,145,0.3);
//     left: 58%;
//     margin-top: 2.3%;
//     width: 30%;
//     display: flex;
//     justify-content: space-between;
//     position: fixed;
//     li {
//     background-color: transparent;
//     a {
//         transition: all 0.5s ease-in-out;
//         &:hover {
//         color: #EAA294;
//           // text-decoration: underline dotted;
//         padding-bottom: 5px;
//         border-bottom: 3px dotted  #EAA294;
//         transition: all 0.5s ease;
//         }
//     }
//     }
// }

// }


/* 在屏幕寬度小於或等於 1339px 時應用的樣式 */
@media screen and (max-width: 768px) {

*{
    background-color: #F7F2EC ;
}
main {
    // border: 3px solid red;
    overflow-x: hidden;
}

.fixed-button:hover::after {
    display: none !important;
}

.fixed-button:hover img {
    opacity: 1; /* 在:hover状态下，隐藏原始图像 */
}

//------------------------- hamburgermenu -------------------------


.pc {
    display: none !important;
}

.smp {
    display: block !important;
}

//------------------------- #KV -------------------------
.ourly-logo-icon1 {
    position: fixed;
}

.kv-left {
    background-color: transparent;
    top: 5%;
}

.kv-right video {
    display: none !important;
}

.smartphone-video {
    display: block !important;
}

.smartphone-video video {
    display: block !important;
}

.smartphone-video video {
    position: relative;
    right: 0%;
    width: 100%;
    height: auto;
    /* z-index: -1; */
}

.smartphone-video {
    position: relative;
    right: 0%;
    width: 100%;
    height: auto;
    top: -1119px;
    /* z-index: -1; */
}

/* 遮罩层 */
.smartphone-video::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2); /* 半透明黑色遮罩，可以根据需要调整透明度 */
    z-index: 1; /* 确保遮罩在视频上方 */
}


.span1::after {
    display: none !important;
}


.kv-left-all {
    .b27 {
        position: absolute;
        top: 38%;
        left: 17%;
        text-align: center;
        font-size: 2.3rem;
        font-family: Noto Sans JP;
        line-height: 100%;
        background-color: transparent;
        p {
            .span {
                color: #F7F2EC;
            }
        }
    }
}

.ourly-web1 {
    /* overflow-y: hidden; */
    font-size: 15px;
    font-weight: lighter;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: relative;
    top: 5rem;
    left: -12.8rem;
    background-color: transparent;
    color: var(--stroke-g);
    line-height: 1.7rem;
    .p {
        color: #F7F2EC;
    }
}

.span1::after {
    content: "";
    position: absolute;
    width: 380px;
    height: 200px;
    background-image: url(../public/10@2x.png);
    background-repeat: no-repeat;
    top: -237%;
    left: 37.5%;
    z-index: -1;
}

.cta4 {
    position: relative;
    width: 11rem;
    height: 3.75rem;
    top: 7rem;
    left: -1.15rem;
}
.cta4:hover {
    position: relative;
    width: 11rem;
    height: 3.75rem;
    top: 7rem;
    left: -1.15rem;
    background-color: var(--logo-color);
}

.cta3 {
    position: relative;
    top: -6.55rem;
    left: -0.9rem;
}

.logo-wall-1, .logo-wall-2 {
    width: 800%;
}
.logo-wall-2 {
    bottom: 8%;
}

.curve-kv {
    position: absolute;
    width: 120%;
    left: -11%;
    top: 85%;
    border-radius: 50% 50% 0% 0%;
    height: 10%;
    background-color: #f7f2ec;
}

/* 外部容器 */
.video-container {
    position: relative;
}

.string-c-cover {
    background-color: #f7f2ec;
    position: absolute;
    width: 100%;
    height: 8%;
    z-index: 1;
    top: 73.8%;
    right: 0%;
    transform-origin: bottom center;
}
.string-a-cover {
    display: none !important;
}
//------------------------- #concerns -------------------------

#concerns {
    position: relative;
    height: 100dvh;
    overflow: hidden;
}

.gradient-c {
    position: absolute;
    top: -4%;
    width: 376%;
    overflow: hidden;
}
.title-c-bg {
    width: 95%;
    padding-left: 5%;
    position: absolute;
    top: 7%;
    left: 0;
}
h2 {
    font-size: 25px;
    font-family: Noto Sans JP;
    font-weight: bold;
    position: absolute;
    top: 12%;
    left: 13%;
    color: #605F5E;
    background-color: transparent;
}
.title-c-line {
    position: absolute;
    top: 15.2%;
    width: 60%;
    left: 21%;
}
.dialogue-c-1 {
    width: 26%;
    left: 6%;
    bottom: 36%;
}
    
.dialogue-c-2 {
    width: 25%;
    left: 2%;
    bottom: 60%;
}
    
.dialogue-c-3 {
    width: 26%;
    left: 35%;
    bottom: 56%;
}
    
.dialogue-c-4 {
    width: 24.5%;
    left: 73%;
    bottom: 64%;
}
    
.dialogue-c-5 {
    width: 23%;
    left: 67%;
    bottom: 47%;
}

.person-c {
    position: absolute;
    bottom: 24%;
    right: 23%;
    width: 41%;
    background-color: transparent;
}

.string-c {
    pointer-events: none;
    position: absolute;
    width: 250%;
    /* height: 130%; */
    /* height: 82%; */
    top: 40.9%;
    left: -183.4%;
    background-color: transparent;
    z-index: 1;
}
//------------------------- #about -------------------------

.gradient-right-a {
    pointer-events: none;
    position: absolute;
    z-index: 1;
    top: -37%;
    right: -11%;
    background-color: transparent;
    width: 42%;
}
.title-a-bg {
    width: 95%;
    padding-left: 5%;
    position: absolute;
    top: -13%;
    left: 0;
    background-color: transparent;
}
.title-a {
    color: #E06853;
    line-height: 1.5;
    position: relative;
    left: 7%;
    font-size: 130%;
    width: 109%;
    top: -7%;
}
.text-a {
    color: #605F5E;
    position: absolute;
    top: 3%;
    left: 7%;
    line-height: 200%;
    font-size: 90%;
    width: 88%;
}
.circle-1-a {
    position: absolute;
    width: 25%;
    top: 25%;
    right: 35%;
}

.circle-2-a {
    position: absolute;
    width: 25%;
    right: 7%;
    top: 35%;
}

.circle-3-a {
    position: absolute;
    width: 25%;
    right: 7%;
    top: 50.5%;
    z-index: 1;
}

.circle-4-a {
    position: absolute;
    width: 25%;
    top: 58%;
    right: 35%;
    z-index: 1;
}

.circle-5-a {
    position: absolute;
    width: 25%;
    right: 67%;
    top: 50.5%;
    z-index: 1;
}

.circle-6-a {
    position: absolute;
    width: 25%;
    right: 67%;
    top: 35%;
    z-index: 2;
}
.click-a {
    position: absolute;
    width: 20%;
    top: 40%;
    right: 39%;
}
.person-a {
    position: absolute;
    width: 18%;
    top: 44%;
    right: 39%;
}
.gradient-left-a {
    position: absolute;
    z-index: 1;
    top: 15%;
    left: -13%;
    background-color: transparent;
    width: 42%;
}

.string-a {
    display: none !important;
}


//------------------------- #ourVoice -------------------------

#ourVoice {
    position: relative;
    top: -300px;
}

.title-phone-o, .title-phone-string-o {
    display: block !important;
}

.title-o {
    display: none !important;
}

#remain {
    display: none !important;
}

.title-phone-o, .title-phone-string-o {
    width: 95%;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    z-index: 1;
    top: 7%;
}

.title-phone-string-o {
    top: 14.5%;
    width: 72%;
    left: 51%;
}

.title-o {
    width: 95%;
    position: absolute;
    left: 50%;
    top: -50%;
    transform: translate(-50%);
    z-index: 1;
}

.title-h2-o {
    position: relative;
    left: 16%;
    top: 120px;
    width: 94%;
    z-index: 1;
}

.left-all-o {
    display: flex;
    flex: 1 1 700px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 120px;
    left: -16%;
}

.right-all-o {
    display: flex;
    flex: 1 1 700px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -200px;
    left: 16%;
    background-color: transparent;
}


//------------------------- #features -------------------------

.title-phone-fe, .title-phone-string-fe {
    display: block !important;
}

.title-f {
    display: none !important;
}

.aaa {
    display: none !important;
}

[class$=-smartphone] {
    display: block !important;
}

// .remain-up-f, .remain-down-f, .curveup, .curvedown {
//     display: none !important;
// }

.feature-bg-phone {
    display: block !important;
}

.title-phone-fe, .title-phone-string-fe {
    top: 5%;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 41.3%;
    background-color: transparent;
}

.curveup {
    position: relative;
    top: -11%;
    height: 15%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    background-color: transparent;
}

.curvedown {
    position: absolute;
    bottom: -10px;
    height: 15%;
    width: 100%;
    z-index: 1;
    background-color: transparent;
}


.title-phone-fe {
    top: 4%;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 92%;
    background-color: transparent;
}

.title-phone-string-fe {
    top: 8.5%;
    position: absolute;
    left: 51%;
    transform: translate(-50%);
    width: 53%;
    background-color: transparent;
}

#features {
    background-color: #3f4066;
    position: relative;
    height: 1800px;
    width: 100%;
    top: -480px;
}

.title-h2-fe {
    top: -18.8%;
    left: 24.5%;
    position: relative;
    color: #F7F2EC;
    width: 65%;
}

.title-1-f {
    position: relative;
    top: -130px;
    width: 320%;
    left: 9%;
}

.click-1-f {
    position: relative;
    width: 259%;
    top: -180px;
    left: 9%;
    cursor: pointer;
}

.title-2-f {
    position: relative;
    top: 247px;
    width: 320%;
    left: -158%;
}

.click-2-f {
    position: relative;
    width: 259%;
    top: 200px;
    left: -157%;
    cursor: pointer;
}

.title-3-f {
    position: relative;
    top: -20px;
    width: 360%;
    left: -31%;
}

.click-3-f {
    position: relative;
    width: 311%;
    top: -75px;
    left: -39%;
    cursor: pointer;
}

.title-4-f {
    position: relative;
    top: 389px;
    width: 365%;
    left: -235%;
}

.click-4-f {
    position: relative;
    width: 259%;
    top: 330px;
    left: -179%;
    cursor: pointer;
}

// smartphone pages of features

[class$="-smartphone"] {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

#currentImage4-smartphone {
    left: 58%;
}

[class^="close"] {
    position: absolute;
    top: 128%;
    left: 43%;
    padding: 5px 15px;
    cursor: pointer;
}


[class^="prevPageBtn"] {
    top: 132%;
}

[class^="nextPageBtn"] {
    top: 132%;
}


//------------------------- #switch -------------------------

#switch {
    position: relative;
    height: 1000px;
    width: 430px;
    top: -500px;
}

.string-right-s-cover {
    display: none !important;
}

.title-s, .string-right-s, .string-left-s {
    display: none !important;
}


.gradation-s {
    position: absolute;
    top: -10%;
    width: 100%;
    height: 30%;
}
.title-bg-s {
    left: 46.2%;
    transform: translate(-50%);
    width: 100%;
    padding-left: 5%;
    position: absolute;
    top: 6%;
    background-color: transparent;
}

.woman-img-1 {
    position: absolute;
    right: 69%;
    top: -300px;
    width: 15%;
}

.woman-talk-1 {
    position: absolute;
    right: 81%;
    top: -263px;
    width: 18%;
}

.man-img-1 {
    position: absolute;
    left: -2%;
    top: -80px;
    width: 18%;
}

.man-talk-1 {
    width: 15%;
    position: absolute;
    left: 11%;
    top: -40px;
}

.man-img-2 {
    position: absolute;
    right: 66.5%;
    top: 150px;
    width: 18%;
}

.man-talk-2 {
    position: absolute;
    right: 81.2%;
    top: 190px;
    width: 18%;
}

.man-img-3 {
    position: absolute;
    top: 362px;
    left: -3%;
    width: 20%;
}

.man-talk-3 {
    width: 15%;
    position: absolute;
    left: 11.5%;
    top: 406px;
}

.man-3-s{
    transform: translate(0px, 0px);
    opacity: 1;
    visibility: inherit;
    position: relative;
    top: 47%;
    width: 333%;
}

.man-2-s {
    position: relative;
    top: 47%;
    width: 333%;
}

.man-1-s {
    position: relative;
    top: 47%;
    width: 333%;
}

.woman-1-s {
    position: relative;
    top: 47%;
    width: 333%;
}



//------------------------- #example1 -------------------------

#example1 {
    position: relative;
    height: 100dvh;
    top: -350px;
}

.text-area1 .exp-1-text {
    position: relative;
    top: -370px;
    width: 45%;
    left: 27.5%;
}

.display-exp1 img {
    position: relative;
    top: -20px;
    left: 7%;
    width: 86%;
    background-color: transparent;
}

.dialogue-1-exp1 {
    position: absolute;
    left: -6%;
    top: 6%;
}

.dialogue-2-exp1 {
    position: absolute;
    left: 39%;
    top: 23%;
    width: 33%;
}

.dialogue-3-exp1 {
    position: absolute;
    left: 72%;
    top: -7%;
    width: 41%;
}

.text-area1 .h2-h {
    top: 52.5%;
    left: 11%;
    letter-spacing: 0;
    line-height: 0;
}

.text-area1 .h2-h2 {
    left: 21%;
    top: 56%;
    letter-spacing: 0;
    line-height: 0;
}

h2 {
    width: 100%;
    font-size: 20px;
    font-family: Noto Sans JP;
    font-weight: bold;
    position: absolute;
    top: 11%;
    left: 22%;
    color: #605F5E;
    background-color: transparent;
}

.text-area1 p {
    position: relative;
    top: 170px;
    font-size: 14px;
    left: 0%;
    font-weight: lighter;
    line-height: 25px;
    color: #605F5E;
}



.exp-1-more {
    position: absolute;
    width: 17.5%;
    right: 8%;
    z-index: 1;
    top: 83%;
}

.string-exp1 {
    position: absolute;
    top: 78.5%;
    left: -216px;
    width: 280%;
    height: 26.31rem;
    overflow: hidden;
    z-index: 1;
}

.string-exp1-cover {
    background-color: #f7f2ec;
    position: absolute;
    width: 100%;
    height: 13.5%;
    z-index: 1;
    top: 92%;
    right: 0%;
    transform-origin: right center;
}

//------------------------- #example2 -------------------------

#example2 {
    position: relative;
    height: 100dvh;
    top: -350px;
    width: 100%;
}

.display-exp2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: start;
    padding-top: 14.5%;
    position: relative;
    top: 59%;
}

.text-area2 .exp-2-text {
    position: relative;
    top: -820px;
    width: 45%;
    left: 27.5%;
}

.display-exp2 .exp-2-pic {
    position: relative;
    top: -380px;
    left: 7%;
    width: 86%;
    background-color: transparent;
}

.dialogue-1-exp2 {
    position: absolute;
    left: 67%;
    top: 10%;
    width: 45%;
}

.dialogue-2-exp2 {
    position: absolute;
    left: 25%;
    top: 33%;
    width: 40%;
}

.text-area2 h2 {
    width: 100%;
    font-size: 20px;
    font-family: Noto Sans JP;
    font-weight: bold;
    position: absolute;
    top: 5%;
    left: 0%;
    color: #605F5E;
    background-color: transparent;
    letter-spacing: 0;
    line-height: 1.7;
    text-align: center;
}


.text-area2 p {
    position: relative;
    top: -297px;
    font-size: 14px;
    left: 0%;
    font-weight: lighter;
    line-height: 25px;
    color: #605F5E;
}

.string-exp2 {
    position: absolute;
    top: 92.5%;
    left: -4px;
    width: 280%;
    height: 26.31rem;
    overflow: hidden;
    z-index: 1;
}

.string-exp2-cover {
    background-color: #f7f2ec;
    position: absolute;
    width: 100%;
    height: 9.5%;
    z-index: 2;
    top: 110%;
    right: 0%;
    transform-origin: left center;
}

.exp-2-more {
        position: absolute;
        width: 17.5%;
        left: 76%;
        z-index: 1;
        top: 102%;
}

//------------------------- #FAQ -------------------------


#FAQ {
    background-color: #3f4066;
    position: relative;
    width: 1440px;
    height: 1450px;
    top: -73px;
    .QA-all {
        .a {
            b {
                display: none;
            }
            br {
                display: none;
            }
            span {
                display: none;
            }
        }
    }
}

.a:first-letter {
    margin-right: 0; /* 在小屏幕下取消右側空格效果 */
}

.title-phone-FAQ, .title-phone-string-FAQ {
    display: block !important;
}

.title-Q {
    display: none !important;
}

.title-phone-FAQ, .title-phone-string-FAQ {
    top: -1%;
    position: absolute;
    left: 15.4%;
    transform: translate(-50%);
    width: 13%;
    background-color: transparent;
}

.title-phone-string-FAQ {
    position: relative;
    top: -21.6%;
    width: 8.5%;
    left: 14.5%;
}


.title-h2-FAQ {
    top: -24.2%;
    left: 10.2%;
    position: relative;
    color: #F7F2EC;
    width: 50%;
    background-color: transparent;
}


.curve-up-Q {
position: relative;
    top: -14%;
    height: 18%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 30%;
    background-color: transparent;
}


.curve-down-Q {
    position: absolute;
    bottom: 0;
    width: 30%;
    height: 18%;
    z-index: 1;
    background-color: transparent;
}

.QA-all {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    background-color: transparent;
    position: relative;
    z-index: 2;
    left: 21.8%;
    top: -19%;
    width: 493px;
    transform: translate(-50%);
}

.q {
    color: #605F5E;
    background-color: #f7f2ec;
    padding: 1% 5%;
    padding-left: 2%;
    left: -11%;
    top: 10%;
    margin-bottom: 19%;
    width: 80%;
}

.a {
    color: #FFFFFF;
    top: -63px;
    line-height: 2;
    left: -2%;
    margin-bottom: -7%;
    width: 70%;
}

.cta-Q {
    position: absolute;
    left: 7%;
    bottom: 23%;
    width: 47%;
}

.cta-Q-hover {
    opacity: 0; /* 在:hover状态下，隐藏原始图像 */
}

.cta-container:hover .cta-Q {
    opacity: 1;
}
.cta-container:hover .cta-Q-hover {
    opacity: 0;
}

//------------------------- #footer -------------------------

.title-bg-fo {
    position: absolute;
    width: 28%;
    height: auto;
    top: -5%;
    left: 14.5%;
}

#footer {
    position: relative;
    width: 430px;
}

.smartphone-disappear {
    display: none !important;
}

.person-fo {
    position: absolute;
    bottom: 19%;
    right: 9%;
    width: 80%;
}

.gradation-title-fo {
    position: absolute;
    width: 100%;
    height: 108%;
    top: -37%;
}

.title-bg-fo {
    position: absolute;
    width: 93%;
    height: auto;
    top: -5%;
    left: 49%;
}

.dialogue-1-fo {
    width: 26%;
    left: 2%;
    bottom: 45%;
}
    
.dialogue-2-fo {
    width: 25%;
    left: 2%;
    bottom: 70%;
}
    
.dialogue-3-fo {
    width: 30%;
    left: 35%;
    bottom: 59%;
}
    
.dialogue-4-fo {
    width: 24.5%;
    left: 73%;
    bottom: 77%;
}
    
.dialogue-5-fo {
    width: 25%;
    left: 71%;
    bottom: 48%;
}

.to-the-top {
    width: 30%;
    position: absolute;
    right: -2%;
    bottom: -14%;
    cursor: pointer;
}

.bg-down-fo {
    position: absolute;
    bottom: -14%;
    overflow: hidden;
    width: 100%;
    left: -14%;
}

.cta4-fo {
    position: relative;
    width: 11rem;
    height: 3.75rem;
    top: 15.65rem;
    left: -1.15rem;
}

.cta4-fo:hover {
    position: relative;
    width: 11rem;
    height: 3.75rem;
    top: 15.65rem;
    left: -1.15rem;
    background-color: var(--logo-color);
}

.cta3-fo {
    position: relative;
    top: 0.45rem;
    left: -0.9rem;
}


}